*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header-top{
    background-color: #fff;
    display: flex;
    position: fixed;
    z-index: 999;
    width: 1980px;
    top: 0;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 360px;
    border-bottom: 1px solid #ddd;
}

.header-top .logo svg{
    display: block;
    width: 80px;
    height: 45px;
}

.header-top nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-top nav a{
    margin: 0 10px;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

.header-top nav a:hover{
    color: #111;
}

.header-top nav:hover a:not(:hover){
    color: #999;
}

.header-top nav:hover a{
    color: #111;
}

.with-submenu{
    position: relative;
}

.with-submenu:hover .sub-menu{
    display: block;
}

.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 100;
    width: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-menu a{
    display: block;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.sub-menu a:hover{
    background-color: #aaa9a9;
}

.app-download-button{
    background-color: #ffebe1;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    height: 32px;
    padding: 0px 2px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.app-download-button a{
    color: rgb(255, 111, 15);
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.app-download-button:hover{
    background-color: #fac1a5;
}

.header-bottom{
    padding-top: 100px;
    padding-left: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
}

.search-others{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    width: 800px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar-button{
    padding-right: 10px;
    border-right: 1px solid #ddd;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: #555;
}
.search-bar-button a{
    text-decoration: none;
    color: #555;
    font-size: 14px;
    flex: 1;
    font-weight: bold;
}

.search-bar input{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

.search-bar-input input::placeholder {
    color: #bbb;
}

.search-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #aaa;
    margin-left: 10px;
}

.search-icon img {
    width: 16px;
    height: 16px;
}

.popular-searches nav{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 10px 0;
}

.popular-searches nav a{
    text-decoration: none;
    color: #777;
}

.popular-searches nav a:hover{
    text-decoration: underline;
}

.main-contianer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    background-color: #fff1aa;
}

.banner-text{
    flex: 1;
    margin-right: 20px;
    padding-left: 80px;
    padding-bottom: 120px;
}

.banner-text h1{
    font-size: 42px;
    color: #111;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.4;
}

.banner-text p{
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.banner-content{
    flex: 1;
    text-align: center;
}

.banner-content img{
    width: 120%;
    max-width: 500px;
}

.categories{
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.categories h2{
    font-size: 24px;
    flex: 1;
    text-align: start;
    padding: 0px 350px;
    color: #111;
    margin-bottom: 20px;
}

.category-list{
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-items: center;
}

.category-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
    width: 180px;
    border-radius: 5px;
    text-align: center;
}

.category-item img{
    width: 165px;
    height: 165px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
    background-color: #f4f4f4;
    padding: 24px;
}

.category-item img:hover{
        transform: scale(1.2);
}

.category-item p{
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.app-text{
    text-align: left;
    height: 400px;
    padding: 100px 250px;
    background-color: #fff7e6;
}

.app-text h2{
    font-size: 30px;
    color: #ff6f0f;
    font-weight: 700;
}

.app-text h1{
    font-size: 45px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
}

.app-button{
    display: flex;
    gap: 15px;
}

.app-button a img{
    width: 120px;
}

.footer-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f5f5f5;
    padding: 20px;
    padding-left: 400px;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
}

.footer-right{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-end;
    flex: 2;
}

.footer-links-1{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links-1 h4{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.footer-links-1 ul{
    list-style: none;
}

.footer-links-1 ul li{
    margin-bottom: 8px;
}

.footer-links-1 ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #555;
}

.footer-links-1 ul li a:hover {
    text-decoration: underline;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex: 1;
}

.footer-logo img{
    width: 80px;
    margin-bottom: 10px;
}

.footer-social{
    display: flex;
    gap: 15px;
}

.footer-social a img{
    width: 45px;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.footer-social a img:hover{
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.footer-bottom{
    padding-left: 250px;
    text-align: start;
    font-size: 14px;
    color: #777;
    line-height: 1.6;
    border-top: 1px solid #ddd;
}

.footer-bottom p{
    padding-top: 10px;
}

.footer-links-2{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.footer-links-2 a p{
    font-size: 14px;
    color: #555;
    transition: color 0.3s;
}