*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body{
    max-width: 1980px;
    background-color: #fff;
}

header{
    position: fixed;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 80%;
    justify-content: space-around;
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo svg{
    width: 80px;
    height: auto;
}

header nav{
    display: flex;
    align-items: center;
    position: relative;
    gap: 0 20px;
    margin: 60px;
}

nav a{
    color: #111;
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #111;
}

header nav:hover a:not(:hover){
    color: #999;
}

header nav:hover a{
    color: #111;
}

.sub-menu{
    display: none;
    position: absolute;
    padding: 10px;
    left: 0;
    justify-content: center;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.sub-menu a{
    display: block;
    padding: 5px 10px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

nav a.with-submenu:hover + .sub-menu{
    display: block;
}

.sub-menu a:hover{
    background-color: #aaa9a9;
}

.app-download-button{
    background-color: #f3aa82;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.app-download-button a{
    color: #ff7e36;
    font-size: 16px;
    text-decoration: none;
}

.search-container{
    width: 80%;
    padding: 15px 20px;
    max-width: 1980px;
    background-color: #fff;
}

.location{
    margin-right: 20px;
    display: flex;
    border-radius: 20px;
}

.location a{
    font-size: 14px;
    color: #333;
    text-decoration: none;
    font-size: bold;
    padding: 8px 12px;
    background-color: #f1f3f5;
    position: relative;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input[type="text"]{
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.popular-searches{
    margin-top: 10px;
    padding: 40px 10px;

}

.popular-searches nav p{
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.popular-searches nav .search-item{
    font-size: 14px;
    display: inline-block;
    color: #555;
    margin-right: 20px;
    text-decoration: none;
}

.popular-searches nav .search-item:hover{
    text-decoration: underline; 
}

.banner-container {
    width: 100%;
    background-color: #e4a46b; 
    display: flex;
    position: relative;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: #ffeab5;
    max-width: 1200px;
}

.banner-text{
    flex: 1;
    padding-right: 30px;
}

.banner-text h1 {
    font-size: 40px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.banner-content img {
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.category-container {
    width: 100%;
    padding: 50px 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.categories {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.categories h2 {
    font-size: 24px;
    color: #333;
    text-align: start;
    font-weight: bold;
    margin-bottom: 30px;
}

.category-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.category-item {
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.category-item p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 60px;
}

.app-container {
    width: 100%;
    max-width: 1980px;
    background-color: #eed7c4;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.app-adver {
    max-width: 1980px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 36px;
    position: relative;
}

.app-text {
    flex: 1;
}

.app-text h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ff7e36; 
    margin-bottom: 10px;
}

.app-text h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333; 
    line-height: 1.4;
}

.app-button {
    display: flex;
    gap: 10px; 
    margin-top: 20px;
}

.app-button a img {
    width: 150px;
    height: auto;
}

.app-content {
    flex: 1;
    display: flex;
    justify-content:left;
    align-items: center;
    position: relative;
}

.app-content img{

}

.footer-container{
    width: 100%;
    background-color: #fff;
    padding: 50px 20px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

footer{
    background-color: #fff;
    max-width: 1200px;
    gap: 20px;
    flex-direction: row;
    display: flex;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: left;
}

.footer-links h4{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}


.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #555;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover{
    color: #333;
}

.footer-social {
    display: flex;
    align-items: right;
    gap: 20px;
}

.footer-social svg{
    width: 16px;
    height: 16px;
    display: block;
}

.footer-bottom{
    padding: 20px 36px;
    text-align: left;
    border-top: 1px solid #f1f3f5; 
}

.footer-bottom p{
    margin: 5px 0;
    font-size: 12px;
    color: #999;
}