*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body{
    max-width: 1980px;
    display: block;
    background-color: #fff;
    border: 0;
    line-height: 21px;
    width: 550px;
}

header{
    position: fixed;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 1rem;
    margin: 0;
    top: 0;
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .logo svg{
    width: 64px;
    height: 36px;
}

header nav{
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
}

nav a{
    color: #111;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #111;
}

header nav:hover a:not(:hover){
    color: #999;
}

header nav:hover a{
    color: #111;
}

.sub-menu{
    display: none;
    position: absolute;
    padding: 10px;
    left: 225px;
    justify-content: center;
    top: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.sub-menu a{
    display: flex;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    color: #333;
    font-size: 12px;
    text-decoration: none;
    top: 0;
}

nav a.with-submenu:hover + .sub-menu{
    display: block;
}

.sub-menu a:hover{
    background-color: #aaa9a9;
}

.app-download-button{
    background-color: #d8c1b2;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
}

.app-download-button a{
    color: rgb(255, 111, 15);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.app-download-button:hover{
    background-color: #cc8f66;
}

.search-container{
    width: 870px;
    box-sizing: border-box;
    display: block;
    padding: 0px 40px;
    max-width: 1400px;
    margin-inline: auto;
    background-color: #fff;
}

.location{
    margin-right: 16px;
    display: block;
}

.location a{
    font-size: 16px;
    height: 42px;
    border-radius: 21px;
    color: #333;
    align-items: center;
    font-size: bold;
    padding: 0px 16px;
    display: flex;
    cursor: pointer;
    background-color: #f2f3f6;
}

.location img{
    width: 16px;
    height: 16px;
}

.search-others{
    display: flex;
    border: 1px solid #ddd;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.search-bar{
    max-width: 1400px;
    background-color: #fff;
}

.search-bar-button{
    padding: 10px;
    cursor: pointer;
    border-right: 1px solid #ddd;
}

.search-bar-input{
    padding: 7px 10px;
    flex-grow: 1;
}

.search-bar-input input{
    padding: 7px;
    font-size: 14px;
    border: none;
}

.search-icon{
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search-icon:hover{
    background-color: #bebebe;
}

.search-icon img{
    width: 16px;
    height: 16px;
    background: none;
}

.popular-searches{
    font-size: 14px;
    color: #111;
    display: flex;
    position: relative;
}
.popular-searches nav a{
    color: #777;
    text-decoration: none;
}

.popular-searches nav a:hover{
    text-decoration: underline; 
}

.banner-container {
    background-color: rgb(255, 241, 170); 
    display: flex;
    box-sizing: border-box;
    height: 430px;
    justify-content: center;
    line-height: 20px;
    position: relative;
}

.banner{
    display: flex;
    padding: 64px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: #ffeab5;
    width: 1000px;
    flex-direction: column;
}

.banner-text{
    flex: 1;
    padding-right: 30px;
}

.banner-text h1 {
    font-size: 26px;
    color: #333;
    box-sizing: border-box;
    display: block;
    line-height: 35px;
    font-weight: 700;
    margin-top: 28px;
    width: 900px;
}

.banner-text p {
    font-size: 15px;
    box-sizing: border-box;
    display: none;
    font-weight: 700;
    line-height: 22px;
    width: auto;
    color: #555;
}

.banner-content img {
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.category-container {
    max-width: 1400px;
    background-color: #fff;
    display: block;
    flex-direction: column;
    justify-content: center;
}

.categories {
    width: 830px;
    height: 250px;
    line-height: 21px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 64px;
}

.categories h2 {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    height: 22px;
    color: #333;
    text-align: start;
    font-weight: bold;
    margin: 30px 0px;
}

.category-list {
    display: block;
    padding: 2px;
    justify-content: space-around;
    gap: 20px;
    box-sizing: border-box;
    display: inline-grid;
    row-gap: 12px;
    column-gap: 12px;
    border-radius: 50%;
    margin: -40px 0px;
    height: 180px;
    width: 800px;
}

.category-item {
    text-align: center;
    justify-content: center;
    background-color: #f8f9fa;
    line-height: 21px;
    width: 145px;
    height: 178px;
    box-sizing: border-box;
    cursor: pointer;
    flex-direction: column;
    text-decoration: solid;
    object-fit: contain;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-item img {
    width: 145px;
    height: 80px;
    position: relative;
    object-fit: contain;
    margin-bottom: 10px;
}

.category-item p {
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-weight: 700;
}

.app-container {
    width: 800px;
    max-width: 1980px;
    background-color: #eed7c4;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.app-adver {
    padding: 0px 40px;
    display: block;
    max-width: 1980px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 36px;
    position: relative;
}

.app-text h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ff7e36; 
    margin-bottom: 10px;
}

.app-text h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333; 
}

.app-button {
    display: flex;
    gap: 10px; 
    margin-top: 20px;
}

.app-button a img {
    width: 150px;
    height: auto;
}

.app-content {
    display: flex;
    justify-content:left;
    align-items: center;
    position: relative;
}

.app-content img{

}

.footer-container{
    width: 100%;
    background-color: #fff;
    padding: 50px 20px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

footer{
    background-color: #fff;
    max-width: 1200px;
    gap: 20px;
    flex-direction: row;
    display: flex;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: left;
}

.footer-links h4{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}


.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #555;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover{
    color: #333;
}

.footer-social {
    display: flex;
    align-items: right;
    gap: 20px;
}

.footer-social svg{
    width: 16px;
    height: 16px;
    display: block;
}

.footer-bottom{
    padding: 20px 36px;
    text-align: left;
    border-top: 1px solid #f1f3f5; 
}

.footer-bottom p{
    margin: 5px 0;
    font-size: 12px;
    color: #999;
}